{% extends 'base.html' %}

{% block title %}Home - My Portfolio{% endblock %}

{% block content %}
    <h1>Welcome to My Portfolio</h1>
    <img src="{{ url_for('static', filename='profile.webp') }}" alt="Profile Picture" width="200">
    <p>Showcasing my work and skills.</p>

    <form action="{{ url_for('add_comment') }}" method="POST">
        <input type="text" name="content"/>
        <button type="submit">Submit</button>
    </form>
    <ul>
        {% for c in comments %}
        <li>
            {{ c.content }}
        </li>
        {% endfor %}
    </ul>
{% endblock %}
